<div class="row w-100 pt-5 pe-5">
  <div class="col"></div>

  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <p class="text-uppercase fs-4 text-muted mb-5 fw-bold">{{title}}</p>

        <form class="row">
          <div class="col-6 form-floating mb-4">
            <input
              type="firstname"
              class="form-control"
              id="address-firstname"
              placeholder="first name"
              value="{{address.first_name}}"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="address-firstname"
            >First name</label>
          </div>

          <div class="col-6 form-floating mb-4">
            <input
              type="keyword"
              class="form-control"
              id="address-lastname"
              placeholder="surname"
              value="{{address.last_name}}"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="address-lastname"
            >Surname</label>
          </div>
        </form>

        <form>
<<<<<<< HEAD
          <div class="col-9 form-floating mb-4">
            <input
              type="keyword"
              class="form-control"
              id="street"
              placeholder="street"
              value="{{address.street}}"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="street"
            >Street</label>
          </div>

          <div class="col-3 form-floating mb-4">
            <input
              type="keyword"
              class="form-control"
              id="streetnumber"
              placeholder="street number"
=======
          <div class="col-12 form-floating mb-4">
            <input
              type="keyword"
              class="form-control"
              id="address-streetnumber"
              placeholder="surname"
>>>>>>> dev
              value="{{address.street_number}}"
            />
            <label
              class="text-uppercase text-muted fs-5"
<<<<<<< HEAD
              for="streetnumber"
=======
              for="address-streetnumber"
>>>>>>> dev
            >Street No.</label>
          </div>
        </form>

        <form class="row">
          <div class="col-6 form-floating mb-4">
            <input
              type="company"
              class="form-control"
<<<<<<< HEAD
              id="company"
              placeholder="company"
              value="{{address.company}}"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="company"
=======
              id="floatingInputGrid"
              placeholder="company"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
>>>>>>> dev
            >Company</label>
          </div>

          <div class="col-6 form-floating mb-4">
            <input
              type="additionalInfo"
              class="form-control"
<<<<<<< HEAD
              id="additional-line"
              placeholder="additinalInfo"
              value="{{address.additional_line}}"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="additional-line"
=======
              id="floatingInputGrid"
              placeholder="additinalInfo"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
>>>>>>> dev
            >Additional info</label>
          </div>
        </form>

        <form>
          <div class="col-3 form-floating mb-4">
            <input
              type="postcode"
              class="form-control"
<<<<<<< HEAD
              id="post-number"
              placeholder="postcode"
              value="{{address.post_number}}"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="post-number"
=======
              id="floatingInputGrid"
              placeholder="postcode"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
>>>>>>> dev
            >Postal code</label>
          </div>
        </form>

        <form class="row">
          <div class="col-6 form-floating mb-5">
            <input
              type="city"
              class="form-control"
<<<<<<< HEAD
              id="city"
              placeholder="city"
              value="{{address.city}}"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="city"
=======
              id="floatingInputGrid"
              placeholder="city"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
>>>>>>> dev
            >City</label>
          </div>

          <div class="col-6 form-floating mb-5">
            <input
              type="country"
              class="form-control"
<<<<<<< HEAD
              id="country"
              placeholder="country"
              value="{{address.country}}"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="country"
=======
              id="floatingInputGrid"
              placeholder="country"
            />
            <label
              class="text-uppercase text-muted fs-5 ms-3"
              for="floatingInputGrid"
>>>>>>> dev
            >Country</label>
          </div>
        </form>

        <form>
          <div class="col-6 form-floating mb-5">
            <input
              type="keyword"
              class="form-control"
<<<<<<< HEAD
              id="library-keyword"
              placeholder="keyword"
              value="{{address.library_keyword}}"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="library-keyword"
=======
              id="floatingInputGrid"
              placeholder="keyword"
            />
            <label
              class="text-uppercase text-muted fs-5"
              for="floatingInputGrid"
>>>>>>> dev
            >Keyword for this address (e.g. office, home)</label>
          </div>
        </form>
        <div>
          {{#if isEdit}}
            <a
              href="#"
              id="edit-btn"
              class="btn btn-lg btn-secondary text-uppercase"
            ><i class="far fa-edit"></i></a>
          {{else}}
            <a
              href="#"
              id="create-btn"
              class="btn btn-lg btn-secondary text-uppercase"
            ><i class="far fa-save"></i></a>
          {{/if}}
        </div>
      </div>
    </div>

  </div>
</div>